.promo__title,
.reason__title,
.advantages__title,
.main-product__title {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
  color: #000000;     /*promo__title  в mobile - #ffffff*/
}

.reason__text,
.advantages__text,
.copyright__name,
.main-product-all__text-more {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  /*font-size: 14px;16px;
  line-height: 18px;20px; 24px*/
  color: #444444; /*в каталоге есть абзац #ffffff*/
}

a {
  text-decoration: none;
}

img {
  /*display:block;*/
  max-width: 100%;
  height: auto;
}

li {
  list-style: none;
}
