.feedback h2 {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: #000000;
}

.feedback p {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

a {
  text-decoration: none;
}

img {
  /*display:block;*/
  max-width: 100%;
  height: auto;
}

li {
  list-style: none;
}
