.reason__text,
.advantages__text,
.copyright__name,
.main-product-all__text-more {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  /*font-size: 14px;16px;
  line-height: 18px;20px; 24px*/
  color: $darkgrey; /*в каталоге есть абзац #ffffff*/
}
