/*.main-nav {

}

.main-nav__toggle {

}

.main-nav__list {

}

.main-nav__list--active {

}

.main-nav__wrapper {

}*/

.main-nav__item {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color:  red; /* тест, д.б. @black*/
}
