/*.reason {

}*/

.reason__wrapper {
  display: flex;
  justify-content: space-between;
  /*margin: 0 auto;*/
}

/*.reason__list {
  display: flex;
  flex-direction: column;
}*/

.reason__item {
  display: block;
  width: 280px;
  margin-bottom: 30px;
  background-color: $lightgrey;
}

/*.reason__title {

}

.reason__picture {

}

.reason__text {

}

.reason__catalog {

}

.button__icon {

}*/
