/*.main-nav__list {

}

.main-nav__list--active {

}*/

a {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
} /*.main-nav__item*/
