/*основные настройки?*/
.page {
  font-family: "Oswald", "Open Sans", sans-serif;
  background: #e5e5e5;
}

a {
  text-decoration: none;
}

img {
  /*display:block;*/
  max-width: 100%;
  height: auto;
}

li {
  list-style: none;
}
