/*.reason {

}

.reason__wrapper {

}*/

.reason__list {
  display: flex;
  flex-direction: column;
}

.reason__item {
  background-color: #f2f2f2;
}

/*.reason__title {

}

.reason__picture {

}

.reason__text {

}

.reason__catalog {

}

.button__icon {

}*/
